#header {
	background: #A4C63
	width: 100%
	height: 300px}

#main {
	background: #F2E2C6
	float: left
	width: 80%
	height: 70%
	margin-top: 300px}

#sidebar{
	background: #4B2558
	width: 20%
	height: 100%
	float: right}

#footer{
	background: #E7391E
	height:10%
	float: bottom}

